html {
font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eeeeee;
}

.rotate {
  transform: rotate(90deg);
}

input[type=submit] {
  padding:5px 10px 5px;
  background-color: #0e5bc6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  padding:5px 10px 5px;
  background-color: #1f6edb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input.clean[type=submit] {
  padding:5px 10px 5px;
  background-color: rgb(198, 15, 15);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input.clean[type=submit]:hover {
  padding:5px 10px 5px;
  background-color: #d91717;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input.save[type=submit] {
  padding:5px 10px 5px;
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input.save[type=submit]:hover {
  padding:5px 10px 5px;
  background-color: #2c2c2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=text], select {
  width: 68px;
  height: 2%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;

}

input[type=textpastaba], select {
  width: 130px;
  height: 2%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;

}

input[type=textquantity], select {
  width: 40px;
  height: 2%;
  padding: 12px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;

}

input[type=textspalva], select {
  width: 85px;
  height: 2%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: 25px;
  font-weight: 200;
  background-color: #0d0d0d;
  color: white;
  padding: 4px 0 4px 15px;
  text-align: center;
}

.information-wrapper {
  margin: 0 auto;
  font-size:15px;
  display:flex;
  justify-content:center;
  font-weight: 400;
  background-color: #f6f6f6;
  box-shadow: 1px 10px 18px -18px rgba(31,31,31,1);
  -webkit-box-shadow: 1px 10px 18px -18px rgba(31,31,31,1);
  -moz-box-shadow: 1px 10px 18px -18px rgba(31,31,31,1);

}

.information-wrapper .details-item {
  display:flex;
  align-items: center;
  padding:0 7px 0 7px;
}

.information-wrapper .details-item-clean {
  display:flex;
  align-items: center;
}

.information-wrapper .details-item-save {
  display:flex;
  align-items: center;
  margin: 0 7px 0 7px;

}

.information-wrapper .details-item-create {
  display:flex;
  align-items: center;
  margin: 0 7px 0 7px;
}

.information-wrapper .details-item .details-item-text {
  padding-right:5px;
}

.vechile {
  width: 290px;
  margin-top: 100px;

}

.truck-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#truck {
    background:#f7f7f7; 
    width: 248px; 
    height: 1360px; 
    border: 2px solid #222222;
    /* margin:0 auto; */
    border-radius: 3px;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    color:black;
    font-weight:600;
    padding:5px;
}

a:hover {
  color:rgb(226, 7, 7);
}

span {
  font-weight: 300;
  font-size: 15px;
  padding-left: 5px;
}

img.icon {
  width: 28px;
  border-radius: 8px;
  margin-right: 7px;
  margin-bottom: 4px;
}

span.truck {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* text-transform: uppercase; */
  font-size: 24px;  
}